<h2>
  <%= FULL_NAME[@artist] %> 
  <a class="right" href= "/artists"><button>All Artists</button></a>
  <a class="right" href= "/favorites"><button>Favorites</button></a>
</h2>
<hr>

<ul>
  <% @titles.each do |title| %>
    <li><a href=<%= @artist %>/<%= find_id_of_title(title) %>><%= title %></a></li>
  <% end %>
</ul>


