<h2><%= FULL_NAME[@artist] %> (attributed works included) </h2>

<ul>
  <% @titles.each do |title| %>
    <li><a href=<%= @artist %>/<%= find_id_of_title(title) %>><%= title %></a></li>
  <% end %>
</ul>

<hr>
<a href= /artists > Artist List </a>

