<h2>
  Rijks Gallery
  <a class="right" href="/favorites"><button>Go To Favorites</button></a>
  <a class="right" href="/notes"><button>Go To Notes</button></a>
</h2>
<hr>
<ul>
  <li><a href="/artists/bosch">Jheronimus Bosch</a></li>
  <li><a href="/artists/rembrandt">Rembrandt van Rijn</a></li>
  <li><a href="/artists/ter_brugghen">Hendrick ter Brugghen</a></li>
  <li><a href="/artists/van_gogh">Vincent van Gogh</a></li>
</ul>
