<h2> My Favorites </h2>
<hr>
<ul>
  <% if @favorites.empty? %>
    <%= @favorites %>
  <% else %>
    <% @favorites.each do |favorite| %>
      <li><a href=<%= favorite[:url] %>><%= favorite[:long_title] %></a></li>
    <% end %>
  <% end %>
</ul>
<hr>
<a href="/artists">All Artists</a>

