<h2> Work of Art </h2>
<hr>
<h3> ID Works </h3>
<%= @long_title %>

<hr>
  <center><img src=<%= @image %> width=1000px alt="collection image" ></center>
<hr>






<!-- Use to see data structure -->
<!-- <p> <%# @users %> </p> -->
