<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Rijks Gallery</title>

    <link rel="stylesheet" href="/stylesheets/rijks_gallery.css">
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/application.js"></script>

    <style>
      a:link {
        color: 	slategray;
        background-color: transparent;
        text-decoration: none;
      }

      a:visited {
        color: black;
        background-color: transparent;
        text-decoration: none;
      }

      a:hover {
        color: black;
        background-color: transparent;
        text-decoration: underline;
      }
  </style>
  </head>
    
  <body>

    <%== yield %>

    <% if session[:error] %>
      <div class="flash error">
        <p><%= session.delete(:error) %></p>
      </div>
    <% end %>

    <% if session[:success] %>
      <div class="flash success">
        <p><%= session.delete(:success) %></p>
      </div>
    <% end %>

  </body>
</html>