<h2> 
  <%= @name %>
  <a class="right" href="/artists"><button>All Artists</button></a> 
  <a class="right" href="/notes"><button>Notes</button></a>
</h2>
<hr>
<p> <%= @current_note[0][:text] %> </p>
