
body {
  font-family: optima;
  background-color: lightgray;
  color: slategrey;
}
div { 
  font-family: optima;
  color: whitesmoke;
  background-color: lightslategray;
}
.end {
  text-align: center;
}
.links {
  text-align: center;
}
.info {
  background-color: salmon;
  text-align: center;
}
.right {
  float: right;
}

.delete {
  font-style: italic;
}

.indent {
  text-indent: 1%;
}

.left {
  float: left;
}

.txt {
  font-family: optima;
  font-size: 16px;
}

.txtbox {
  font-family: optima;
  font-size: 16px;
  height: 60px;
  width : 1200px;
}

.flash.error {
  color: whitesmoke;
  background-color: slategrey;
}

.flash.success {
  color: whitesmoke;
  background-color: slategrey;
}

.tester {
  color: cyan
}