
body {
  font-family: optima;
  background-color: lightgray;
  color: slategrey;
}
div { 
  font-family: optima;
  color: whitesmoke;
  background-color: lightslategray;
}
.end {
  text-align: center;
}
.links {
  text-align: center;
}
.info {
  background-color: salmon;
  text-align: center;
}
.right {
  float: right;
}

.indent {
  text-indent: 1%;
}

.left {
  float: left;
}
